<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />

    <application>
        <service
            android:name=".LedService"
            android:exported="false"
            android:foregroundServiceType="systemExempted" />

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".LedBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.powerbx.astro.LED" />
                <action android:name="com.powerbx.astro.LED_QUERY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
